<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CPS530 Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="semantic/dist/semantic.css" />
    <script src="semantic/dist/semantic.js"></script>
</head>

<body>
    <div class="ui container">
        <!--Header-->
        <h1 class="ui header">Conclusion</h1>

        <!--Menu-->
        <div class="ui attached stackable menu">
            <div class="ui container">
                <a class="item">
                    <i class="home icon"></i> Home
                </a>
                <a class="item">
                    <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                    <i class="mail icon"></i> Messages
                </a>
            </div>
            <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i>Edit Profile</a>
                    <a class="item"><i class="globe icon"></i>Choose Language</a>
                    <a class="item"><i class="settings icon"></i>Account Settings</a>
                </div>
            </div>
        </div>

        <!--Summary-->
        <div class="ui container segment">

            <h2 class="ui header">Our Conclusions</h2>
            <div class="ui bulleted list">
                <div class="item">
                    <div class="content">
                        <div class="header">How did Flask and Semantic UI perform?</div>
                        <p> Semantic UI was quite easy to pick up and use. It was similar to bootstrap, so 
                            our previous experince with that framework was useful. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">How was installation and configuration?</div>
                        <p> Installation was notably easier on computers using linux than those using
                            windows. Linux only required a few commands to get Flask and Semantic UI working,
                            while the process for windows involved external installers, and literal hours of 
                            research and fiddling in order to just get the most basic elements of the frameworks
                            working.</p>
                        <!--PLEASE ADD SOMETHING FOR INSTALLATION ON THE HOST-->
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">How easy was is to create a page?</div>
                        <p>Creating a page using Semantic UI was very easy. However, the structure was similar to bootstrap, 
                            as mentioned above, which might make how easy it was a bit biased. Flask was a bit harder to get
                            a hang of using within a webpage than some other server-side frameworks, such as PHP.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">How was the learning curve?</div>
                        <p> Semantic Ui was easy to pick up, which was quite surprising. When researching what types of
                         developers use Semantic UI, many people mentioned that it was harder to pick up than most other
                         front-end frameworks. We didn't find that to be the case. Flask was often mentioned as being easier
                         to learn than Django, another python based framework, but we found it to be harder to grasp than 
                         most other frameworks we explored within this course.</p>
                    </div>
                </div>
                <div class="item">
                        <div class="content">
                            <div class="header">How would we have done things differently?</div>
                            <p>Using more computers with linux as the operating system would have made the installation
                            of our frameworks much quicker and easier. Starting off with frustrations about such
                             a small, basic thing definitely brought a bit of pessimism into the project. </p>
                        </div>
                    </div>
                    <div class="item">
                    <div class="content">
                        <div class="header">Regrets on the frameworks of choice?</div>
                        <p>Semantic UI worked well, and it was quick to pick up. Perhaps a different server-side framework
                           that was more familiar would have been a better choice. We wanted to try something new to expand
                         our skills in web development, but perhaps this wasn't the place to jump directly into the deep end.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>

</html>
