<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CPS530 Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="semantic/dist/semantic.css" />
    <script src="semantic/dist/semantic.js"></script>
</head>

<body>
    <div class="ui container">
        <!--Header-->
        <h1 class="ui header">Conclusion</h1>

        <!--Menu-->
        <div class="ui attached stackable menu">
            <div class="ui container">
                <a class="item">
                    <i class="home icon"></i> Home
                </a>
                <a class="item">
                    <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                    <i class="mail icon"></i> Messages
                </a>
            </div>
            <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i>Edit Profile</a>
                    <a class="item"><i class="globe icon"></i>Choose Language</a>
                    <a class="item"><i class="settings icon"></i>Account Settings</a>
                </div>
            </div>
        </div>

        <!--Summary-->
        <div class="ui container segment">

            <h2 class="ui header">Our Conclusions</h2>
            <div class="ui bulleted list">
                <div class="item">
                    <div class="content">
                        <div class="header">How did Flask and Semantic UI perform?</div>
                        <p> </p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">How was installation and configuration?</div>
                        <p> </p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">How easy was is to create a page?</div>
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">How was the learning curve?</div>
                        <p></p>
                    </div>
                </div>
                <div class="item">
                        <div class="content">
                            <div class="header">How would we have done things differently?</div>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                    <div class="content">
                        <div class="header">Regrets on the frameworks of choice?</div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>

</html>