<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
    <title>CPS530 Project - {{ title }}</title>
    {% else %}
    <title>CPS530 Project</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='semantic/dist/semantic.css') }}" />
    <script src="{{ url_for('static', filename='semantic/dist/semantic.js') }}"></script>
</head>

<body>
    <div class="ui container">
        <!--Header-->
        <h1 class="ui header">Main Title</h1>

        <!--Menu-->
        <div class="ui attached stackable menu">
            <div class="ui container">
                <a class="item">
                    <i class="home icon"></i> Home
                </a>
                <a class="item">
                    <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                    <i class="mail icon"></i> Messages
                </a>
            </div>
            <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i>Edit Profile</a>
                    <a class="item"><i class="globe icon"></i>Choose Language</a>
                    <a class="item"><i class="settings icon"></i>Account Settings</a>
                </div>
            </div>
        </div>

        <!--Summary-->
        <div class="ui container segment">
            <h2 class="ui header">Summary</h2>
            <p>Semantic is a development framework that helps create beautiful, responsive layouts using human-friendly
                HTML</p>

            <h2 class="ui header">Popularity</h2>
            <p>Seamntic UI is a relatively</p>

            <h2 class="ui header">Strengths</h2>
            <div class="ui bulleted list">
                <div class="item">
                    <div class="content">
                        <div class="header">Load only the components you need</div>
                        <p>Semantic UI package is well organized, with every component stored into it's own stylesheet
                            and JavaScript file.
                            This makes it easy to load only certain packages which decreases both file size and access
                            time</p>
                    </div>
                </div>
                <div class="item">The elements offer a huge amount of customization compared to other frameworks such
                    as Bootstrap</div>
                <div class="item">
                    <div class="content">
                        <div class="header">Its semantic</div>
                        <p>It uses a semantic naming scheme for the styling, which makes it easy to understand for
                            beginners</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Beautifully designed</div>
                        <p>Semantic UI has a futuristic and beautiful design that many people will find appealing.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">It has many UI components</div>
                        <p>It has many UI components that can suit many different types of projects.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Good documentation</div>
                        <p>The documentation is well written and very easy to use due to the many examples provided in
                            the source code.</p>
                    </div>
                </div>
            </div>


            <h2 class="ui header">Weaknesses</h2>
            <div class="ui bulleted list">
                <div class="item">
                    <div class="header">Very large file size</div>
                    <p>The packages provided by Semantic UI are much larger in comparison to Boostrap. Using specific
                        components is recommended rather than
                        using all the components.</p>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">Buggy</div>
                        <p>There are many UI intricacies such as incorrect position and unable to mix classes.</p>
                    </div>
                </div>
                <div class="item"></div>
            </div>

            <h2 class="ui header">Developers that use Semantic UI</h2>

            <h2 class="ui header">Websites that use Semantic UI</h2>
        </div>


    </div>
</body>

</html>
