<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CPS530 Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="semantic/dist/semantic.css" />
        <script src="semantic/dist/semantic.js"></script>
</head>

<body>
    <!--Menu-->
    <div class="ui top attached menu">
        <div class="ui container">
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="download icon"></i> Install
            </a>
            <a class="item">
                <i class="mail icon"></i> Tutorial
            </a>
            <a class="item">
                <i class=""></i> Toronto
            </a>
            <a class="item">
                <i class=""></i> Conclusion
            </a>
            <a class="item">
                <i class=""></i> Credits
            </a>
        </div>
    </div>
    <div class="ui container">
        <!--Title-->
        <h1 class="ui header">Tutorial</h1>
    </div>

    <div class="ui grid container">
        <div class="row">
            
            <div class="twenty wide column">
                <h2 class="ui block header">Creating a Webpage</h2>
                <p>Now that we know the strengths and weaknesses of Semantic UI and Flask, let's create an 
                    effective webpage using them.
                </p>
                <h3 class="ui dividing header">Start with Research</h3>
                <p>Before you get to coding, research is key. There are a lot of differnt tools unique to Semantic UI
                    that are useful in creating a webpage. Specific names for classes in order to get a certain look are very common.
                    Make sure you have a good understanding of your tools first.
                </p>
                <h3 class="ui dividing header">The Head</h3>
                <p> Begin with the head tag of your page. This is where we do the ground work to allow both Semantic UI and Flask 
                    to be implemented within the page.
                </p>
                <img class="ui centered image" src="https://i.imgur.com/eTAHp1R.jpg">
                <p><br/>The 'stylesheet' link and script are what allow Semantic UI to be used. The code between the % symbols are generated
                    through Flask.
                </p>
                <h3 class="ui dividing header">UI Containers and Menus </h5>
                <p>Semantic UI has a container system that allows for easy division of content. One handy built in function is the
                    'ui top attached menu', which allows for the easy creation of a menu system to navigate your site.
                </p>
                <img class="ui centered medium image" src="https://i.imgur.com/NOWFyun.jpg">
                <h3 class ="ui dividing header"> Seperating Content</h6>
                <p> When writing up the content of your page, you will surely wish to organize your text in various more attractive ways.
                    Semantic UI allows you to place different topics in different containers, allowing for different headers, bulleted lists,
                    and other visually appealing options.
                </p>
                <!--webpagecontainer.jpg-->
                <img class="ui centered large image" src="https://media.discordapp.net/attachments/500509834026942486/519004084687208456/webpagecontainer.JPG">
                <p> <br/>Semantic UI also has many options for images used in your webpage. Images can be centered or resized without the
                    use of any CSS.
                </p>
                <h3 class="ui dividing header"> Final Touches</h3>
                <p>After you have everything you want on your page set up, finish it up with some nice design touches. Moving things
                    around and adding divisions is easy with Semantic UI. Add a CSS stylesheet as well for some extra flair, and you're done!
                </p>
                <!--Need an image of the final demo page here-->
                <img class="ui centered image" src="">
            </div>
            
        </div>
    </div>
</body>

</html>